<!DOCTYPE html>
<html lang="ar">
<head>
<meta charset="windows-1256">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>E-Learning</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="script/mainscript.js"></script>
<link rel="stylesheet" href="static/style/styles.css">
<!--  <script>
	$(document).ready(function() {
	    $.ajax({
	        url: "/hello?name=ibrahim"
	    }).then(function(data) {
	       $('.greeting-msg').append(data);
	       console.log(data);
	       alert(data);
	      
	    });
	});
	
</script>-->

<!--  <script type="text/javascript">
$(document).ready(function() {
    $.ajax({
    	type : 'GET',
        url: '/hello?name=ibrahim',
    	success:function(data)
    	{
	       $('.greeting').append(data);
	       console.log(data);
	       alert(data);
    	}
      
    });
});
</script>-->
<style type="text/css">
    *:lang(ar) { direction:rtl }
    *:lang(en) { direction:ltr }
</style>
</head>
<body>


<!--  
<p>test</p>
<p class="greeting-msg"> </p>
<p class="greeting"> </p>-->
<!-- banner test  -->

<!-- --------------------------------------------------- -->
<div class="container register-form">
            <div class="form">
                <div class="note">
                    <p>مستخدم جديد</p>
                </div>

                <div class="form-content">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="الاسم الاول" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="الاسم الاخير" value=""/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Confirm Password *" value=""/>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btnSubmit">Submit</button>
                </div>
            </div>
        </div>




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>